    /* ------------------------------- LOGO NAVBAR ------------------------------ */
    .eminemLogo{
      width: 50px;  
      cursor: pointer;
      animation: rotar 3s ease-in-out infinite;
    }
    @keyframes rotar {
      from {
        transform: rotatey(0deg);
      }
      to {
        transform: rotatey(360deg);
      }
    }
    
    .eminemShop {
      height: auto;
      margin-right: 10px;
    }

    
    .navbar a {
      position: relative;
      font-size: 18px;
      color: #222222;
      font-weight: 500;
      margin-left: 40px;
      text-decoration: none;
    }

    .navbar a::before{

      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: 2px;
      background: #ffffff;
      transition: .3s;
    }

    .navbar a:hover::before{
      width: 100%;
    }

  