.btn{
    width: auto;
}

.button-container {
    display: flex;
    
    justify-content: space-between;
    align-items: center;

  }
  
  .action-button {
    background-color: #ff4c4c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer; 
    width: 80px;
  }
  
  .action-button:hover {
    background-color: #b30000cb;
  }
  